$color-blue10: #F3FCFF;
$color-blue20: #E0F6FD;
$color-blue30: #9DE4FC;
$color-blue40: #67C3E3;
$color-blue50: #36AFD9;
$color-blue60: #289EC7;
$color-blue70: #158BB2;
$color-blue80: #0E6B8A;
$color-blue90: #0B536B;
$color-blue100: #07394A;

$color-gray10: #FDFEFF;
$color-gray20: #F2F3F4;
$color-gray30: #E1E4E6;
$color-gray40: #CED3D6;
$color-gray50: #A9AFB3;
$color-gray60: #878D91;
$color-gray70: #5E6367;
$color-gray80: #363A3D;
$color-gray90: #282C2D;
$color-gray100: #151717;

$color-orange10: #FFF3EB;
$color-orange20: #FFE4D2;
$color-orange30: #FFA569;
$color-orange40: #FF8C40;
$color-orange50: #FF7A22;
$color-orange60: #EB650D;
$color-orange70: #D65A08;
$color-orange80: #C04E02;
$color-orange90: #863602;
$color-orange100: #6B2A00;