@import "./font.scss";
@import "./color.scss";

html {
    color-scheme: light !important;
    scroll-behavior: smooth;

    span {
        font-family: "Spoqa Han Sans Neo" !important;
    }

    -webkit-appearance: none !important;
    background: #ffffff !important;
    color: #000000 !important;

    label {
        color: #000 !important;
    }
}

:root {
    color-scheme: light !important;
    background-color: #fff !important;
    color: #000 !important;
}

* {
    padding: 0;
    margin: 0;
    border: 0px;

    .text-center {
        text-align: center;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    /* bootstrap spacing */
    .no-p {
        padding: 0 !important;
    }

    .no-m {
        margin: 0 !important;
    }

    .pt-3 {
        padding-top: 1rem !important;
    }

    .pb-3 {
        padding-bottom: 1rem !important;
    }

    .mt-3 {
        margin-top: 1rem !important;
    }

    .mb-3 {
        margin-bottom: 1rem !important;
    }

    .pt-2 {
        padding-top: 0.5rem !important;
    }

    .pb-2 {
        padding-bottom: 0.5rem !important;
    }

    .mt-2 {
        margin-top: 0.5rem !important;
    }

    .mb-2 {
        margin-bottom: 0.5rem !important;
    }

    .pt-1 {
        padding-top: 0.25rem !important;
    }

    .pb-1 {
        padding-bottom: 0.25rem !important;
    }

    .mt-1 {
        margin-top: 0.25rem !important;
    }

    .mb-1 {
        margin-bottom: 0.25rem !important;
    }

    .pr-3 {
        padding-right: 1rem !important;
    }

    .pl-3 {
        padding-left: 1rem !important;
    }

    .mr-3 {
        margin-right: 1rem !important;
    }

    .ml-3 {
        margin-left: 1rem !important;
    }

    .pr-2 {
        padding-right: 0.5rem !important;
    }

    .pl-2 {
        padding-left: 0.5rem !important;
    }

    .mr-2 {
        margin-right: 0.5rem !important;
    }

    .ml-2 {
        margin-left: 0.5rem !important;
    }

    .pr-1 {
        padding-right: 0.25rem !important;
    }

    .pl-1 {
        padding-left: 0.25rem !important;
    }

    .mr-1 {
        margin-right: 0.25rem !important;
    }

    .ml-1 {
        margin-left: 0.25rem !important;
    }

    .bd-red {
        border: 1px solid #ff0000;
    }

    .bd-blue {
        border: 1px solid #83bbff;
    }

    .border-spacing-bottom {
        border-collapse: separate;
        border-spacing: 0 15px;
    }
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background: #D6CCC2;      /* 비활성 상태 색상 */
    opacity: 1;
}
.swiper-pagination-bullet-active {
    width: 12px;           /* 강조될 때 가로로 길게 (선택사항) */
    border-radius: 6px;    /* 둥근 사각형 형태 */
    background: #2A1F1B;   /* 활성 상태 강조 색상 (파란색 예시) */
    transition: all 0.3s;  /* 부드러운 전환 효과 */
}

.ant-message-notice-content {
    padding: 0px !important;
}

.ant-select-selection-placeholder, .ant-select-arrow, .ant-select {
    font-size: 16px !important;
}

.ant-layout {
    background-color: #ffffff !important;

    &.main-container {
        max-width: 1400px;
        // min-height: 100vh;
        margin: 0 auto;
    }

    .ant-form-item-explain-error {
        text-align: left;
    }

    .required {
        &::before {
            display: inline-block;
            margin-inline-end: 4px;
            color: #ff4d4f;
            font-size: 14px;
            font-family: SimSun, sans-serif;
            line-height: 1;
            content: "*";
        }
    }

    .ant-layout-content {
        width: auto;
        margin: 16px;
        background-color: #ffffff;

        &.ant-layout-content-wrapper {
            background-color: #f3f3f3;
        }

        &.body,
        &.search,
        &.table {
            margin: 0px;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        &.table {
            .ant-table-thead {
                .ant-table-cell {
                    text-align: center;
                }
            }

            .ant-table-tbody {
                tr {
                    &.deleted {
                        // background-color: #ffe8e8;
                        background-color: #ffffff;
                    }
                }

                .ant-table-cell {
                    text-align: center;
                }
            }
        }

        .ant-list {
            background-color: #fff;
            padding: 10px 16px;
        }

        .ant-row {

            &.user-profile,
            &.layout {
                border-radius: 6px;
                border: 1px solid #ccc;
                background-color: #ffffff;

                .ant-collapse-item {
                    border-bottom: none;
                    padding-bottom: 6px;
                }
            }
        }

        .ant-row {
            &.model-profile {
                .ant-col {
                    .ant-row {
                        border-radius: 6px;
                        // border: 1px solid #ccc;
                        background-color: #ffffff;

                        img {
                            border-radius: 6px;
                        }
                    }

                    .ant-collapse-item {
                        border-bottom: none;
                        padding-bottom: 6px;
                    }
                }
            }
        }

        .ant-carousel {
            ul {
                li {
                    button {
                        height: 10px;
                        border-radius: 10px;
                    }
                }
            }
        }

        .color-chip {
            display: flex;
            width: 3rem;
            height: 3rem;
            border-radius: 100%;
            border: 1px solid #f1f1f1;

            &:hover {
                border: 2px solid #1f1f1f;
            }
        }

        .ant-divider-plain {
            border-block-start: 0px #ffd67e;
        }
    }

    .ant-descriptions {
        .ant-descriptions-header {
            margin-bottom: 10px;

            .ant-descriptions-title {
                padding: 4px 0;
                margin: 6px 0;
                text-align: left;
            }
        }

        .ant-descriptions-item-label,
        .ant-descriptions-item-content {
            padding: 3px 8px;
        }

        .ant-descriptions-view {

            .ant-descriptions-item-label,
            .ant-descriptions-item-content {
                &.danger {
                    background-color: #ffe4e4;
                }
            }
        }
    }

    .ant-collapse {
        background-color: #fff;
        // .ant-collapse-item {
        //     .ant-collapse-header {
        //         .ant-collapse-expand-icon {
        //             height: 30px;
        //         }
        //     }
        // }
    }

    .ant-tag-checkable {
        border: 1px solid #eee;
        padding: 4px 8px;
        font-size: 12px;
        font-weight: 700;

        &:hover {
            color: #f8b31a;
            border-color: #f8b31a;
            background-color: #fff;
        }

    }
}

.ant-menu {
    &.ant-menu-dark {
        .ant-menu-item-group-title {
            color: #fff !important;
            font-weight: bold;
        }
    }

    .ant-menu-title-content {
        a {
            color: #000000e0
        }
    }

    .ant-menu-submenu-selected,
    .ant-menu-item-selected {
        path {
            color: #0067c2;
        }

        .ant-menu-title-content {
            a {
                color: #0067c2;
                font-weight: 700;
            }
        }
    }

    .profile {
        &.ant-tag {
            margin: 0px;
        }
    }
}

.ant-upload {
    width: 100%;
}

.ant-btn-primary {
    background-color: #000;
    box-shadow: none;

    &.ant-btn-dangerous {
        &:hover {
            background-color: #fff !important;
            color: #ff4d4f !important;
            box-shadow: none;
            border: 1px solid #ff4d4f;
        }
    }

    &.ant-btn-background-ghost {
        color: #000;
        background-color: transparent;
        border-color: #000;
        box-shadow: none;

        &:hover {
            background-color: #000 !important;
            color: #fff !important;
            box-shadow: none;
            border: 1px solid #000 !important;
            ;
        }
    }

    &:hover {
        background-color: #fff !important;
        color: #000 !important;
        box-shadow: none;
        border: 1px solid #000;
    }
}

.ant-typography {
    margin-bottom: 0px !important;
}

.ant-table {
    .ant-table-container {
        border-top: 2px solid #999999
    }

    .ant-table-title {
        padding: 6px 0px 16px 0px !important;
    }

    .ant-table-selection-column {
        padding: 16px !important;
    }
}

.ant-space {
    .ant-space-item-split {
        .ant-divider {
            border-width: 2px;
            border-inline-color: #999;
        }
    }
}

.ant-form-item-control {
    .ant-input {
        &.ant-input-outlined {
            box-shadow: none;
        }
    }

    .ant-select-focused {
        .ant-select-selector {
            box-shadow: none !important;
        }
    }
}

.quill-container {
    &.pc {
        .ql-container {
            min-height: 480px;
        }
    }

    &.mobile {
        .ql-container {
            min-height: 400px
        }
    }
}

// .ql-editor {
//     p {
//         display: block;
//         min-height: 12px;
//     }
// }

.ant-form {
    &.product {
        label {
            font-size: 16px !important;
        }
    }
}

@media (max-width: 577px) {

    :root,
    body,
    html {
        background: #fff !important;
        color: #000 !important;
    }

    .ant-layout {
        .ant-row {
            .ant-col {
                &.scroll {
                    overflow: scroll;
                    padding-bottom: 12px;
                }
            }
        }
    }

    label {
        color: #000 !important;
    }
}

/* 강제로 모든 요소를 라이트 모드 스타일로 적용 */
@media (prefers-color-scheme: dark) {

    :root,
    body,
    html {}

    /* 특정 요소가 다크모드 영향을 받을 경우 대비 */
    * {
        // background-color: #fff !important;
        // color: #000 !important;
        filter: none !important;
    }

    label {
        // color: #000 !important;
    }
}